@{
    ViewBag.Title = "Home Page";
}

<main>
    <style>
        .cover-bg {
            background-image: url('/assets/img/bg/RealEstate-bg1.jpg');
            background-size: cover;
        }

            .cover-bg .text-container {
                box-shadow: inset #0000004a 0px 0px 20px 200px;
                color: white;
            }
    </style>
    <section>
        <div class="p-4 p-md-5 mb-4 rounded cover-bg">
            <div class="col-md-6 p-4 text-container rounded">
                <h1 class="display-4 fst-italic">Propery Hub</h1>
                <p class="lead my-3">
                    This is India’s No. 1 property portal, deals with every aspect of the consumers’ needs in the real estate industry. It is an online forum where buyers, sellers and brokers/agents can exchange information about real estate properties quickly, effectively and inexpensively.
                    At Real Estate Website, you can advertise a property, search for a property, browse through properties, build your own property microsite, and keep yourself updated with the latest news and trends making headlines in the realty sector.
                    With the ever-evolving online search behaviour, this website shares updated information pertinent to real estate activities, assisting prospective buyers to make informed buying decision. We make online property search easier, quicker and smarter!
                </p>
            </div>
        </div>
    </section>

    <section>
        <div class="container px-4 py-5" id="icon-grid">
            <h2 class="pb-2 border-bottom">Features</h2>

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
                <div class="col d-flex align-items-start">
                    <i class="bi-r-circle text-muted flex-shrink-0 me-3 fs-2"></i>
                    <div>
                        <h3 class="fw-bold mb-0 fs-4">Simple</h3>
                        <p>Paragraph of text beneath the heading to explain the heading.</p>
                    </div>
                </div>
                <div class="col d-flex align-items-start">
                    <i class="bi-currency-dollar text-muted flex-shrink-0 me-3 fs-2"></i>
                    <div>
                        <h3 class="fw-bold mb-0 fs-4">Affordable</h3>
                        <p>Paragraph of text beneath the heading to explain the heading.</p>
                    </div>
                </div>
                <div class="col d-flex align-items-start">
                    <i class="bi-safe text-muted flex-shrink-0 me-3 fs-2"></i>
                    <div>
                        <h3 class="fw-bold mb-0 fs-4">Trusted</h3>
                        <p>Paragraph of text beneath the heading to explain the heading.</p>
                    </div>
                </div>
                <div class="col d-flex align-items-start">
                    <i class="bi-fast-forward text-muted flex-shrink-0 me-3 fs-2"></i>
                    <div>
                        <h3 class="fw-bold mb-0 fs-4">Faster</h3>
                        <p>Paragraph of text beneath the heading to explain the heading.</p>
                    </div>
                </div>
                <div class="col d-flex align-items-start">
                    <i class="bi-buildings text-muted flex-shrink-0 me-3 fs-2"></i>
                    <div>
                        <h3 class="fw-bold mb-0 fs-4">Quantity</h3>
                        <p>Paragraph of text beneath the heading to explain the heading.</p>
                    </div>
                </div>
                <div class="col d-flex align-items-start">
                    <i class="bi-globe-asia-australia text-muted flex-shrink-0 me-3 fs-2"></i>
                    <div>
                        <h3 class="fw-bold mb-0 fs-4">Global</h3>
                        <p>Paragraph of text beneath the heading to explain the heading.</p>
                    </div>
                </div>
                <div class="col d-flex align-items-start">
                    <i class="bi-cash-coin text-muted flex-shrink-0 me-3 fs-2"></i>
                    <div>
                        <h3 class="fw-bold mb-0 fs-4">Refund</h3>
                        <p>Paragraph of text beneath the heading to explain the heading.</p>
                    </div>
                </div>
                <div class="col d-flex align-items-start">
                    <i class="bi-wifi text-muted flex-shrink-0 me-3 fs-2"></i>
                    <div>
                        <h3 class="fw-bold mb-0 fs-4">Remote</h3>
                        <p>Paragraph of text beneath the heading to explain the heading.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container px-4 py-5" id="custom-cards">
            <h2 class="pb-2 border-bottom">Testimonials</h2>

            <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
                <div class="col">
                    <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('unsplash-photo-1.jpg');">
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Best Place to sell or buy.</h3>
                            <ul class="d-flex list-unstyled mt-auto">
                                <li class="me-auto">
                                    <i class="bi-person-circle fs-3"></i>
                                </li>
                                <li class="d-flex align-items-center me-3">
                                    <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                                    <small>Jayesh Mishra</small>
                                </li>
                                <li class="d-flex align-items-center">
                                    <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                                    <small>3d</small>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('unsplash-photo-2.jpg');">
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Fastest way to get Property.</h3>
                            <ul class="d-flex list-unstyled mt-auto">
                                <li class="me-auto">
                                    <i class="bi-person-circle fs-3"></i>
                                </li>
                                <li class="d-flex align-items-center me-3">
                                    <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                                    <small>Reshma Singh</small>
                                </li>
                                <li class="d-flex align-items-center">
                                    <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                                    <small>4d</small>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('unsplash-photo-3.jpg');">
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Property at Affordable Prices.</h3>
                            <ul class="d-flex list-unstyled mt-auto">
                                <li class="me-auto">
                                    <i class="bi-person-circle fs-3"></i>
                                </li>
                                <li class="d-flex align-items-center me-3">
                                    <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                                    <small>Jiwan Chaudhary</small>
                                </li>
                                <li class="d-flex align-items-center">
                                    <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                                    <small>5d</small>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



</main>