@{
    ViewBag.Title = "Home Page";
}

<main>
    <style>
        .cover-bg {
            background-image: url('/assets/img/bg/RealEstate-bg1.jpg');
            background-size: cover;
        }

            .cover-bg .text-container {
                box-shadow: inset #0000004a 0px 0px 20px 200px;
                color: white;
            }
    </style>
    <section>
        <div class="p-4 p-md-5 mb-4 rounded cover-bg">
            <div class="col-md-6 px-0 text-container">
                <h1 class="display-4 fst-italic">Propery Hub</h1>
                <p class="lead my-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tellus cras adipiscing enim eu turpis egestas pretium aenean. Consequat id porta nibh venenatis. Curabitur gravida arcu ac tortor dignissim convallis. Tempor orci dapibus ultrices in iaculis nunc. Et egestas quis ipsum suspendisse ultrices. Auctor eu augue ut lectus arcu bibendum. Neque vitae tempus quam pellentesque nec nam aliquam sem. Diam donec adipiscing tristique risus nec feugiat. Est ultricies integer quis auctor elit. Sed libero enim sed faucibus turpis in eu mi bibendum. At erat pellentesque adipiscing commodo elit at imperdiet dui. Elementum sagittis vitae et leo duis ut diam quam. Maecenas sed enim ut sem. Velit aliquet sagittis id consectetur. Natoque penatibus et magnis dis parturient montes nascetur ridiculus.</p>
            </div>
        </div>
    </section>

    <section>
        <div class="container px-4 py-5" id="icon-grid">
            <h2 class="pb-2 border-bottom">Features</h2>

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
                <div class="col d-flex align-items-start">
                    <i class="bi-geo-fill text-muted flex-shrink-0 me-3 fs-2"></i>
                    <div>
                        <h3 class="fw-bold mb-0 fs-4">Featured title</h3>
                        <p>Paragraph of text beneath the heading to explain the heading.</p>
                    </div>
                </div>
                <div class="col d-flex align-items-start">
                    <i class="bi-geo-fill text-muted flex-shrink-0 me-3 fs-2"></i>
                    <div>
                        <h3 class="fw-bold mb-0 fs-4">Featured title</h3>
                        <p>Paragraph of text beneath the heading to explain the heading.</p>
                    </div>
                </div>
                <div class="col d-flex align-items-start">
                    <i class="bi-geo-fill text-muted flex-shrink-0 me-3 fs-2"></i>
                    <div>
                        <h3 class="fw-bold mb-0 fs-4">Featured title</h3>
                        <p>Paragraph of text beneath the heading to explain the heading.</p>
                    </div>
                </div>
                <div class="col d-flex align-items-start">
                    <i class="bi-geo-fill text-muted flex-shrink-0 me-3 fs-2"></i>
                    <div>
                        <h3 class="fw-bold mb-0 fs-4">Featured title</h3>
                        <p>Paragraph of text beneath the heading to explain the heading.</p>
                    </div>
                </div>
                <div class="col d-flex align-items-start">
                    <i class="bi-geo-fill text-muted flex-shrink-0 me-3 fs-2"></i>
                    <div>
                        <h3 class="fw-bold mb-0 fs-4">Featured title</h3>
                        <p>Paragraph of text beneath the heading to explain the heading.</p>
                    </div>
                </div>
                <div class="col d-flex align-items-start">
                    <i class="bi-geo-fill text-muted flex-shrink-0 me-3 fs-2"></i>
                    <div>
                        <h3 class="fw-bold mb-0 fs-4">Featured title</h3>
                        <p>Paragraph of text beneath the heading to explain the heading.</p>
                    </div>
                </div>
                <div class="col d-flex align-items-start">
                    <i class="bi-geo-fill text-muted flex-shrink-0 me-3 fs-2"></i>
                    <div>
                        <h3 class="fw-bold mb-0 fs-4">Featured title</h3>
                        <p>Paragraph of text beneath the heading to explain the heading.</p>
                    </div>
                </div>
                <div class="col d-flex align-items-start">
                    <i class="bi-geo-fill text-muted flex-shrink-0 me-3 fs-2"></i>
                    <div>
                        <h3 class="fw-bold mb-0 fs-4">Featured title</h3>
                        <p>Paragraph of text beneath the heading to explain the heading.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container px-4 py-5" id="custom-cards">
            <h2 class="pb-2 border-bottom">Testimonials</h2>

            <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
                <div class="col">
                    <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('unsplash-photo-1.jpg');">
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Short title, long jacket</h3>
                            <ul class="d-flex list-unstyled mt-auto">
                                <li class="me-auto">
                                    <i class="bi-person-circle fs-3"></i>
                                </li>
                                <li class="d-flex align-items-center me-3">
                                    <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                                    <small>Earth</small>
                                </li>
                                <li class="d-flex align-items-center">
                                    <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                                    <small>3d</small>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('unsplash-photo-2.jpg');">
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Much longer title that wraps to multiple lines</h3>
                            <ul class="d-flex list-unstyled mt-auto">
                                <li class="me-auto">
                                    <i class="bi-person-circle fs-3"></i>
                                </li>
                                <li class="d-flex align-items-center me-3">
                                    <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                                    <small>Pakistan</small>
                                </li>
                                <li class="d-flex align-items-center">
                                    <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                                    <small>4d</small>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('unsplash-photo-3.jpg');">
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Another longer title belongs here</h3>
                            <ul class="d-flex list-unstyled mt-auto">
                                <li class="me-auto">
                                    <i class="bi-person-circle fs-3"></i>
                                </li>
                                <li class="d-flex align-items-center me-3">
                                    <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                                    <small>California</small>
                                </li>
                                <li class="d-flex align-items-center">
                                    <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                                    <small>5d</small>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



</main>