
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="container">
    <style>
        .border-right {
            border-right: 1px solid black;
        }
    </style>
    <h2 class="text-center mb-5">Login</h2>
    <div class="row" style="min-height: 45vh;">
        <div class="col-6 d-flex justify-content-center align-items-center border-right">
            @Html.ActionLink("User Login", "Login", "User", new { area = "" }, new { @class = "btn btn-primary"})
        </div>
        <div class="col-6 d-flex justify-content-center align-items-center">
            @Html.ActionLink("Vendor Login", "Login", "Vendor", new { area = "" }, new { @class = "btn btn-primary" })
        </div>
    </div>
</section>


